In [1]:
import pandas as pd
import requests

# 1) seu código aqui
sinasc = pd.read_csv('SINASC_RO_2019.csv')
print(sinasc.shape)
sinasc.drop_duplicates().shape
# Não há duplicados

(27028, 69)

(27028, 69)

In [2]:
# 2) seu código aqui


# Contando os valores missings com o metodo sum()

sinasc.isnull().sum()

ORIGEM          0
CODESTAB      115
CODMUNNASC      0
LOCNASC         0
IDADEMAE        0
             ...
munResUf        0
munResLat       1
munResLon       1
munResAlt       1
munResArea      1
Length: 69, dtype: int64

In [3]:
# 3) seu código aqui

# Filtrando as colunas de interesse e salvando-as no mesmo dataframe

sinasc = sinasc[['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 'QTDFILMORT', 'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5']]
sinasc.isnull().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      317
ESCMAE         312
QTDFILVIVO    1573
QTDFILMORT    2098
GESTACAO      1232
GRAVIDEZ        79
CONSULTAS        0
APGAR5         103
dtype: int64

In [4]:
# 4) seu código aqui

# Antes dos valores dropados

print(f"Antes de dropar os valores:\n{sinasc.isnull().sum()}")
print(sinasc.shape[0])

# Dropando os valores nulos da variavel "APGAR5"

sinasc.dropna(subset="APGAR5", inplace=True)

# Depois dos valores dropados

print(f"Depois de dropar os valores:\n{sinasc.isnull().sum()}")
print(sinasc.shape[0])

Antes de dropar os valores:
LOCNASC          0
IDADEMAE         0
ESTCIVMAE      317
ESCMAE         312
QTDFILVIVO    1573
QTDFILMORT    2098
GESTACAO      1232
GRAVIDEZ        79
CONSULTAS        0
APGAR5         103
dtype: int64
27028
Depois de dropar os valores:
LOCNASC          0
IDADEMAE         0
ESTCIVMAE      315
ESCMAE         310
QTDFILVIVO    1566
QTDFILMORT    2089
GESTACAO      1216
GRAVIDEZ        76
CONSULTAS        0
APGAR5           0
dtype: int64
26925

In [5]:
# 5) seu código aqui

print(f"Antes de substituir os valores:\n{sinasc['ESTCIVMAE'].isnull().sum()}")

# Substituindo os valores faltantes da coluna "ESTCIVMAE" por 9

sinasc["ESTCIVMAE"].fillna(value=9, inplace=True)

print(f"Depois de substituir os valores:\n{sinasc['ESTCIVMAE'].isnull().sum()}")

Antes de substituir os valores:
315
Depois de substituir os valores:
0

In [6]:
# 6) Seu código aqui

print(f"Antes de substituir os valores:\n{sinasc[['QTDFILVIVO', 'QTDFILMORT']].isnull().sum()}")

# Substituindo os valores nulos por 0 nas colunas "QTDFILVIVO" e "QTDFILMORT"

sinasc["QTDFILVIVO"].fillna(value=0, inplace=True)
sinasc["QTDFILMORT"].fillna(value=0, inplace=True)

print(f"Depois de substituir os valores:\n{sinasc[['QTDFILVIVO', 'QTDFILMORT']].isnull().sum()}")

Antes de substituir os valores:
QTDFILVIVO    1566
QTDFILMORT    2089
dtype: int64
Depois de substituir os valores:
QTDFILVIVO    0
QTDFILMORT    0
dtype: int64

**Os dados faltantes das colunas "GRAVIDEZ" e "ESCMAE" se traduzem em uma pequena porcentagem em relação ao dadaset, porcentagem essa que se torna insignificante. Com base nisso eles foram alterados para a categoria que mais possui valores. Já a coluna "GESTACAO", como significa um montante um pouco maior dos dados, dela foi tirada a média das semanas e arredondado o valor a se adequar as categorias dos dados da coluna**

In [7]:
# 7) seu código aqui

# Calcualando a porcentagem de valores nulos sobre o dataframe nas colunas "GRAVIDEZ", "ESCMAE" e "GESTACAO"

print(round((sinasc["GRAVIDEZ"].isnull().sum()/sinasc.shape[0])*100, 2))
print(round((sinasc["ESCMAE"].isnull().sum()/sinasc.shape[0])*100, 2))
print(round((sinasc["GESTACAO"].isnull().sum()/sinasc.shape[0])*100, 2))

0.28
1.15
4.52

In [8]:
# Substituindo os valors nulos pela categoria mais frequente da coluna

sinasc["GRAVIDEZ"].fillna(value="Única", inplace=True)
sinasc["ESCMAE"].fillna(value="8 a 11 anos", inplace=True)

In [9]:
# Calculando a média das semanas

round((((22+27)/2) + ((28+31)/2) + ((32+36)/2) + ((37+41)/2) + 42 + 22)/6, 0)

32.0

In [10]:
# Substituindo os valores nulos pela categoria da média das semanas

sinasc["GESTACAO"].fillna(value="32 a 36 semanas", inplace=True)
sinasc.isnull().sum()

LOCNASC       0
IDADEMAE      0
ESTCIVMAE     0
ESCMAE        0
QTDFILVIVO    0
QTDFILMORT    0
GESTACAO      0
GRAVIDEZ      0
CONSULTAS     0
APGAR5        0
dtype: int64

In [11]:
# 8) seu código aqui

# Criando uma nova coluna e suas respectivas categorias no dataframe

sinasc.loc[(sinasc["APGAR5"] >= 8), "CAT_APGAR5"] = "normal"
sinasc.loc[(sinasc["APGAR5"] <= 7) & (sinasc["APGAR5"] >= 6), "CAT_APGAR5"] = "asfixia leve"
sinasc.loc[(sinasc["APGAR5"] <= 5) & (sinasc["APGAR5"] >= 4), "CAT_APGAR5"] = "asfixia moderada"
sinasc.loc[(sinasc["APGAR5"] <= 3), "CAT_APGAR5"] = "asfixia severa"

In [12]:
sinasc["CAT_APGAR5"].value_counts()

normal              26463
asfixia leve          320
asfixia severa         74
asfixia moderada       68
Name: CAT_APGAR5, dtype: int64

In [13]:
# 9) seu código aqui

sinasc.columns = ["local_nasc", "idade_mae", "estado_civil_mae", "escolaridade_mae", "qtd_filho_vivo", "qtd_filho_morto", "gestacao", "gravidez", "consultas", "apgar5", "cat_apgar5"]

In [14]:
sinasc.head(5)

,local_nasc,idade_mae,estado_civil_mae,escolaridade_mae,qtd_filho_vivo,qtd_filho_morto,gestacao,gravidez,consultas,apgar5,cat_apgar5
0,1,19,5.0,8 a 11 anos,0.0,0.0,37 a 41 semanas,Única,4,10.0,normal
1,1,29,2.0,8 a 11 anos,1.0,0.0,37 a 41 semanas,Única,4,9.0,normal
2,1,37,9.0,8 a 11 anos,2.0,0.0,37 a 41 semanas,Única,4,10.0,normal
3,1,30,5.0,12 anos ou mais,0.0,0.0,37 a 41 semanas,Única,3,10.0,normal
4,1,30,2.0,8 a 11 anos,1.0,0.0,37 a 41 semanas,Única,4,10.0,normal